<div>
    <header class="d-flex  justify-content-between navBar p-1">
        <h1 class="spaModel">Spa Model</h1>
        <div class="d-flex gap-5 ml-5 navLinks d-flex justify-content-between">
            <a href="/bodytreatments" disabled class="link-light"><strong>Body Treatments</strong></a>
            <a href="/facials" class="link-light">Facials</a>
            <a href="/nailservices" class="link-light">Nail Services</a>
            <a href="/" class="link-light">Home</a>
        </div>
    </header>
</div>