@model User
<div class=" p-3 border-dark border indexPostDiv">
    <form asp-action="CreateUser" asp-controller="Home" method="post">
        <div>
            <input asp-for="Email" class="form-control form-control-sm mt-2 border border-dark"
                placeholder="Email address">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <input asp-for="Password" type="password" class="form-control form-control-sm mt-2 border border-dark"
                placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <input asp-for="PassConfirm" type="password" class="form-control form-control-sm mt-2 border border-dark"
                placeholder="Confirm Password">
            <span asp-validation-for="PassConfirm" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-end">
            <input type="submit" class="btns d-flex w-100 text-center align-items-center justify-content-center shadow"
                value="Register" />
        </div>

    </form>
</div>