@{
    ViewData["Title"] = "Spa Model";
}
@model User


<div class="idxBody">
    <div class="photoBg idxBody">
        <div class="d-flex justify-content-between navBar p-1">
            <h1 class="spaModel">Spa Model</h1>
            <div class="gap-5 ml-5 navLinks d-flex justify-content-between">
                <a href="/bodytreatments" class="link-light">Body Treatments</a>
                <a href="/facials" class="link-light">Facials</a>
                <a href="/nailservices" class="link-light">Nail Services</a>
                <a href="/loginreg" class="link-light">Login/Register</a>


            </div>
        </div>
        <div class="d-flex  imgDivText align-items-end">
            <div class="text-light align-items-end">
                <h2 class="font-weight-bold">Become a Spa Model</h2>
                <h3>And find free spa services in your area</h3>
            </div>
        </div>
    </div>
    <div class="d-flex mt-5 justify-content-center mb-5 pb-5 photosDiv idxBody">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="spaImg1"></div>
            <a href="/bodytreatments" class="link-dark"><strong>Body Treatments</strong></a>
            <p class="w-75 text-center">Relax with a body treatment. From exfoliating treatments to
                hot stone massages, you'll find the service you need.</p>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="spaImg2"></div>
            <a href="/facials" class="link-dark"><strong>Facial Services</strong></a>
            <p class="w-75 text-center">Boost hydration and revitalize tired skin with a relaxing facial. Choose
                from
                many options to find the right facial service for you.</p>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="spaImg3"></div>
            <a href="/nailservices" class="link-dark"><strong>Nail Services</strong></a>
            <p class="w-75 text-center">In addition to basic nail care and fresh polish, find a treatment offering
                hydration for your tired hands and feet. </p>
        </div>
    </div>
    <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50 mt-5">
        <div class="container d-flex justify-content-between">
            <div class="gap-5">
                <h5>Spa Model</h5>
                <small>Copyright &copy; 2022 Susie Mars</small>
            </div>
            <a href="mailto:susiemars822@gmail.com" class="link-light align-items-end">Contact Us</a>

        </div>
    </footer>

</div>
