@{
    ViewData["Title"] = "Spa Model";
}
@model User



<body>
    <div class="indexBody">
        <header class="d-flex justify-content-between navBar p-1">
            <h1 class="spaModel">Spa Model</h1>
            <div class="gap-4 ml-5 navLinks d-flex justify-content-between">
                <a href="/bodytreatments" class="link-light">Body Treatments</a>
                <a href="/facials" class="link-light">Facials</a>
                <a href="/nailservices" class="link-light">Nail Services</a>
                <a href="/allservices" class="link-light">All Services</a>
                <a href="/loginreg" class="link-light">Login/Register</a>
            </div>
        </header>
        <section class=" photoBg ">
            <div class="text-light imgDivText d-flex flex-column p-5">
                <h2 class="font-weight-bold">Become a Spa Model</h2>
                <h3>And find free spa services in your area</h3>
                <a href="/allservices"><button class="hero-btn">See All Services</button></a>
            </div>
        </section>
        <div class=" subHeading">
            <h4>Find spas and individual providers in your area offering free services for training purposes</h4>
        </div>
        <div class="d-flex mt-3 justify-content-between pb-5 photosDiv indexCons w-100">
            <div class="d-flex flex-column justify-content-center align-items-center text-center">
                <article class="spaImg1 shadow"></article>
                <a href="/bodytreatments" class="link-dark indexText shadow mt-2 mb-2"><button class="indexBtns">Body Treatments</button></a>
                <p class="w-75 indexText">Relax with a body treatment. From exfoliating treatments to
                    hot stone massages, you'll find the service you need.</p>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center text-center mr-1">
                <div class="spaImg2 shadow"></div>
                <a href="/facials" class="link-dark mt-2 mb-2 shadow"><button class="indexBtns">Facial Services</button></a>
                <p class="w-75 text-center">Boost hydration and revitalize tired skin with a relaxing facial. Choose
                    from
                    many options to find the right facial service for you.</p>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center text-center">
                <div class="spaImg3 shadow"></div>
                <a href="/nailservices" class="mt-2 mb-2 shadow"><button class="indexBtns">Nail Services</button></a>
                <p class="w-75 text-center">In addition to basic nail care and fresh polish, find a treatment offering
                    hydration for your tired hands and feet. </p>
            </div>
        </div>
        @await Html.PartialAsync("_Footer")
    </div>
</body>
