@{
    ViewData["Title"] = "Spa Model";
}



<div class="border-left border-right border-dark ">
    <div class="d-flex justify-content-between navBar2 w-100">
        <h1 class="mt-5 spaModel">Spa Model</h1>
        <div class="mt-3 gap-5 ml-5 navLinks d-flex justify-content-between">
            <a href="/bodytreatments" class="link-light">Body Treatments</a>
            <a href="/facials" class="link-light">Facials</a>
            <a href="/nailservices" class="link-light">Nail Services</a>
            <a href="/" class="link-light">Home</a>
        </div>
    </div>
    <div class="d-flex justify-content-center m-3">
        <div class="d-flex flex-column">
            <div>
                <h3>Please Login or Register to Post</h3>
            </div>
            <div class="d-flex m-2 gap-5">
                <div>
                    <h5>Login</h5>
                    @await Html.PartialAsync("_Login")
                </div>
                <div>
                    <h5>Register</h5>
                    @await Html.PartialAsync("_Register")
                </div>


            </div>
        </div>
    </div>
    <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50">
        <div class="container d-flex justify-content-between">
            <div class="gap-5">
                <h5>Spa Model</h5>
                <small>Copyright &copy; 2022 Susie Mars</small>
            </div>
            <a href="mailto:susiemars822@gmail.com" class="link-light align-items-end">Contact Us</a>

        </div>
    </footer>


</div>
