html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(247, 241, 241);
  /* box-shadow: 0 30px 40px rgba(0,0,0,.1); */
}

.bodyTag {
  background-image: url("spabg.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.idxBody {
  /* width: 100%; */
  background-color: white;
}

.innerBody {
  background-color: rgba(247, 241, 241, 0.95);
  /* background-image: url("spabg.jpg"); */
  height: max-content;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

.spaImg1 {
  margin-top: 30px;
  margin:15px;
  background-image: url("stonemassage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
    width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.spaImg2 {
  margin-top: 30px;
  margin: 15px;
  background-image: url("facial11.jpg");
  background-repeat: no-repeat;
  border: 1px solid black;
  background-size: cover;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.spaImg3 {
  margin-top: 30px;
  margin: 15px;
  background-image: url("pedi3.jpg");
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.indexMainDiv {
  width: 80%;
  display: flex;
  justify-content: center;
}

.indexPostDiv {
  background: rgba(255, 255, 255, 0.75);
  color: black;
}

/* .indexDiv {
  width: 80%;
} */

.photoBg {
  background-image: url("massagebg.jpeg");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;

}

.navBar {
  background-color: rgba(40, 4, 4, 0.50);
  color: white;
  align-items: flex-end;
  height: 75px;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

.navBar2 {
  background-color: rgba(40, 4, 4, 0.70);
  color: white;
  width: 100%;
  padding-left: 10px;
  align-items: flex-end;
  height: 75px;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}
/* 
.Flex {
  display: flex;
  flex-wrap: wrap;
} */

.serviceDiv {
  background-color: rgb(247, 241, 241);
}

.serv {
  width: 25%;
  display: inline-block;
} 

/* .button:hover {
  background-color: rgb(40, 4, 4);
} */

.btns:hover {
  background-color: rgb(237, 226, 219);
}

.spaModel {
  margin-bottom: 0px;
}

.navLinks {
  margin-right: 20px;
  align-items: flex-end;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(100, 98, 98);
  text-decoration: underline;
}

.imgDivText {
  align-items: flex-end;
  justify-content: right;
  margin-top: 250px;
  margin-right: 15px;
}

.linkOne {
  font-weight: bold;
}

/* .footer {
  position: absolute;
  background-color: rgba(40, 4, 4, 0.50) ;
  color: white;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
} */

#sticky-footer {
  position: absolute;
  width: 88%;
  bottom: 0;
  margin-top: 100px;
  background-color: rgba(40, 4, 4, 0.75);
}

photosDiv {
  margin-bottom: 50px;
  padding-bottom: 50px;
}










